SERVER_PORT=9090
JWT_SECRET=change-me-super-secret-key-please-rotate-me-32bytes-min
SPRING_DATA_REDIS_URL=redis://localhost:6379
AUTH_SERVICE_URI=http://localhost:9091
SHORTENER_SERVICE_URI=http://localhost:9092
RATE_LIMIT_PER_MINUTE=10
MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://localhost:9411/api/v2/spans
