SERVER_PORT=9092
SPRING_RABBITMQ_ADDRESSES=amqp://guest:guest@localhost:5672
SPRING_DATA_REDIS_URL=redis://localhost:6379
H2_FILE_PATH=./data/urlshortener
APP_BASE_URL=http://localhost:9090/r
RATE_LIMIT_PER_MINUTE=10
MANAGEMENT_ZIPKIN_TRACING_ENDPOINT=http://localhost:9411/api/v2/spans
